*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#ff9966,#ff5e62);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#startScreen,
#gameScreen{
    width:95%;
    max-width:500px;
    text-align:center;
}

#startScreen h1{
    color:#fff;
    font-size:40px;
    margin-bottom:10px;
}

.subtitle{
    color:#fff;
    margin-bottom:25px;
    font-size:16px;
}

button{
    padding:12px 22px;
    border:none;
    border-radius:12px;
    background:#ff9800;
    color:#fff;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
    box-shadow:0 5px 12px rgba(0,0,0,.2);
}

button:hover{
    transform:scale(1.05);
}

.topBar{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-bottom:15px;
}

.box{
    background:#fff;
    border-radius:15px;
    padding:10px;
    font-weight:bold;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}

.box span{
    font-size:22px;
    display:block;
    margin-top:5px;
}

.box small{
    color:#666;
}

#board{
    display:grid;
    grid-template-columns:repeat(8,1fr);
    gap:6px;
    background:#fff;
    padding:10px;
    border-radius:15px;
    box-shadow:0 5px 12px rgba(0,0,0,.2);
}

.cell{
    aspect-ratio:1;
    background:#fff8e1;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    cursor:pointer;
    transition:.2s;
}

.cell:hover{
    transform:scale(1.08);
}

.selected{
    outline:3px solid #2196f3;
}

.matched{
    animation:match .3s;
}

.newFruit{
    animation:drop .3s;
}

.buttons{
    margin-top:15px;
    display:flex;
    justify-content:center;
    gap:10px;
}

#winPopup,
#gameOver{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    display:none;
    justify-content:center;
    align-items:center;
}

.popup{
    width:300px;
    background:#fff;
    padding:25px;
    border-radius:20px;
    text-align:center;
    animation:popup .3s;
}

.popup h2{
    margin-bottom:15px;
}

.popup p{
    margin-bottom:10px;
}

@keyframes popup{
    from{
        transform:scale(.6);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}

@keyframes match{
    50%{
        transform:scale(1.2);
    }
}

@keyframes drop{
    from{
        transform:translateY(-25px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
